body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: aliceblue;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#image {
    flex-shrink: 0;
    margin-right: 19%;
    margin-left: 2%;
    margin-top: 2%;
}

#image img {
    max-width: 100px; 
    height: auto;
}

#contatos {
    margin-bottom: 20px;
    margin-left: 2%;
}

#experiencias {
    margin-left: 8%;
}

#funcao {
    margin-left: 10%; 
}

#descricao {
    margin-left: 10%; 
    font-size: 8;
}

.experience {
    margin-bottom: 20px;
}

#footer {
    text-align: center;
}